html {
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #ddd;
	padding: 0;
	margin: 0;
	line-height: 1.4em;
}

ul,ol {
	list-style: none;
}

body > header {
	background-color: #369;
	color: #fff;
	font-size: 2rem;
	line-height: 2.8rem;
}

@media screen and (max-width:480px) {
	body > header {
		font-size: 1.5rem;
		line-height: 2.1rem;
	}
}

body > * > section {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1rem;
}

body > menu {
	background-color: #fff;
}

body > menu ul {
	height: 1.9rem;
	padding: 1rem 0 0;
}

body > menu ul > li {
	display: block;
	float: left;
	padding: 0.25rem 0.5rem;
	background-color: #ddd;
	margin-left: 0.5rem;
}

body > menu ul > li:first-child {
	margin-left: 0;
}

body > menu ul > li > a {
	color: #000;
	text-decoration: none;
}

body > main {
	background-color: #fff;
	padding: 1rem 0;
}

body > footer {
	padding: 1rem 0;
	text-align: center;
}

dl > dt {
	float: left;
	clear: left;
}

dl > dd {
	float: right;
}

#character-sheet h2 {
	text-align: center;
	background-color: #bdf;
		font-size: 1.25rem;
		line-height: 1.5rem;
}

#character-sheet h3 {
	text-align: center;
}
