html {
	font-size: 100%;
}

body {
	background-color: #ddd;
	padding: 0;
	margin: 0;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
}

ul,ol {
	list-style: none;
}

body > header {
	background-color: #369;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}

@media screen and (max-width:480px) {
	body > header {
		font-size: 1.5rem;
	}
}

body > * > section {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1rem;
}

body > menu {
	background-color: #fff;
}

body > menu ul {
	height: 1.9rem;
	padding: 1rem 0 0;
}

body > menu ul > li {
	display: block;
	float: left;
	margin-left: 0.5rem;
}

body > menu ul > li:first-child {
	margin-left: 0;
}

body > menu ul > li > a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	background-color: #ddd;
}

body > menu ul > li > a.disabled {
	color: #999;
}

body > menu ul > li > a > i {
	font-style: normal;
	display: inline-block;
}

body > main {
	background-color: #fff;
	padding: 1rem 0;
}

body > footer {
	padding: 1rem 0;
	text-align: center;
}

dl > dt {
	float: left;
	clear: left;
}

dl > dd {
	float: right;
	font-weight: bold;
}

.specialty {
	font-style: italic;
	color: #666;
}

#character-sheet h2 {
	text-align: center;
	background-color: #bdf;
	font-size: 1.25rem;
}

#character-sheet h3 {
	text-align: center;
}

.centered {
	text-align: center;
}

#popover {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	right: 25%;
	bottom: 25%;
	background-color: #fff;
	color: #000;
	padding: 1rem;
	border: 0.25rem solid #369;
	cursor: pointer;
}

#popover .content {
	margin-top: 1rem;
	clear: right;
}

#popover .close {
	color: #f00;
	text-decoration: none;
	float: right;
}

@media screen and (max-width:480px) {
	#popover {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		border: none;
	}
}

